.ngx-editor-js2-block.cdk-drag-preview {
  overflow: visible;
  color: var(--mat-sys-on-secondary-container);
  background-color: var(--mat-sys-secondary-container);
  border-radius: var(
    --mat-card-outlined-container-shape,
    var(--mat-sys-corner-medium)
  );
  box-shadow: var(--mat-sys-level4);
}

.ngx-editor-js2-block.cdk-drag-placeholder {
  opacity: 0;
}

.ngx-editor-js2-block.cdk-drag-animating {
  transition: none;
}

.ngx-editor-js2-block.cdk-drag-preview,
.block-list.cdk-drop-list-dragging
  .ngx-editor-js2-block:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

paragraph-block.cdk-drag-preview {
  & *:not(toolbar, ul) {
    margin: 0 !important;
  }
  p {
    ul {
      margin: 0 0 14px 0 !important;
      padding-left: 40px !important;

      &:not(:first-child) {
        margin: 14px 0 14px 0 !important;
      }
    }
  }
}
